.modal{
    width: 100%;
    padding: .8rem 1.7rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    color: $primary-blue;
    border-radius: 5px;
    &.error{
        color: red;
        background-color: rgb(250, 246, 246);
        span{
            background-color: red;
            }
    }
    span{
        color: #fff;
        display: block;
        border-radius: 50%;
        width: 1.3rem;
        height: 1.3rem;
        display: grid;
        place-items: center;
        font-size: 1rem;
        font-weight: 300;
    }
    &.info{
        background-color: $success-green;
        span{
        background-color: $primary-green;
        }
    }
}
