.dashboard{
  padding: 7.4rem;
  width: 100%;
  min-height: 100vh;
  &__header{
    h6{
    font-weight: 500;
      padding-bottom: 1.2rem;
    }    
    p{
      color: $gray;
    }
  }
  &__available-forms{
    h6{
      padding: 4rem 0 2rem;
    }
    .forms{
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 2rem ;
      .card{
        padding: 1.5rem;
        .midi{
          font-weight: 700;
        }
        .mini{
          color: $gray;
          padding: 1.1rem 0;
        }
        button{
          width: fit-content;
          padding: .5rem .7rem;
        }
      }
    }
  }
}