.form{
    width: 100%;
    &-section{
        padding: 3rem 16rem;
        h4{
            text-align: center;
            margin-bottom: 1rem;
        }
        button.variant-b{
            text-align: left;
            margin: 1rem 0;
            border-radius: 3rem;
        }
        button.variant-a{
            margin-top: 1.5rem;
        }
        label{
            font-size: 1.4rem;
            color: $primary-blue;
            text-decoration: capitalize;
        }
        input{
            margin: .4rem  0 1rem;
            display: block;
            width: 100%;
            padding: .5rem;
            font-size: 1.6rem;
            background-color: white;
            outline: none;
            border: none;
        }
    }
}
@media screen and (max-width:800px) {
    .form{
        &-section{
            padding: 3rem 2.4rem;
        }
    }
}