.container{
  padding: 3rem 5rem;
  .form-section{
    padding: 5.7rem 0;
    display: grid;
    grid-template-columns: 5fr 3.5fr;
    gap: 2rem;
    .form-heading{
      display: flex;
      gap: 2rem;
      align-items: center;
      padding-bottom: 1.4rem;
      img{
        width: 2.4rem;
        height: 2.4rem;
      }
    }
    .available-forms{
      &__lists{
        button{
          margin-top: 1.9rem;
          text-align: left;
        }
      }
    }
    .other-forms{
      button{
        width: fit-content;
        padding: 1.2rem 2.7rem;
        text-align: right;
        display: flex;
        margin: 1rem 0 0 auto;
        justify-content: right;
      }
      .form-list{
        margin-bottom:3.3rem;
        padding: 0 1.9rem 1rem;
        border-radius: 10px;
        background: #F8F8F8;
        .form-card{
          padding: 2.5rem 0 1.4rem;
          display: flex;
          justify-content: space-between;
          &__info{
            p.mini{
              color: #808080;
              padding-top: .5rem;
            }
          }
          &__edit{
            display: flex;
            align-items: center;
            p{
              font-size: 1.2rem;
            }
            img{
              width: 1.4rem;
              height: 1.4rem;
            }
          }
          &:not(:first-child){
            border-top: 1px solid rgba(0, 0, 0, 0.15);
          }
        }
      }
    }
  }
}